/* app css stylesheet */
* {
    font-size: 12px;
    -box-sizing:border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.loginBackground {
    background-image: url("content/bg.jpg");
    position: relative;
}
input[type=text],input[type=password] {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
}
button {
    padding:5px;
    border:1px solid white;
    border-radius: 5px;
    padding:5px 20px;
}
.loginContainer {
background-color:darkgray;
    opacity: 0.3;
    width:30%;
}
.loginForm {
    padding:20px;
    margin:auto;
    border: 1px solid darkgray;
}